*{
  box-sizing:border-box;
  }
  body{
      margin: 0;
      font-family: sans-serif;
  }
  nav{
border-top-style:groove;
border-radius: 20px;
    width: 830px;
    height: 60px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    justify-content: center;
    
    background-color: #F55A5A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

  
  .globe{
    max-width: 100px;
  
  }
  .travel{
    color: whitesmoke;
  }
  .main{
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    padding-bottom: 15px;
    position: relative;
  }
  .loc{
    max-width: 45px;
    padding-left: 10px;
    width: 20px;
    height: 18px;

  }
  .title{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -150px;
  }
  
  
  .main--images{
    width: 300px;
    height: 300px;
  }
  
  .name{
    margin-top:70px;
    margin-left: -200px;
    padding: 0;
  }
.description{
  width: 450px;
  height: 70px;
}